<a href="https://colab.research.google.com/github/chalarm1405/multivariate/blob/main/Function_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function

In [ ]:
def function_name(_Input_):
      do_something with _Input_ to produce  _Output_
      return  _Output_

function มีส่วนประกอบ 4 ส่วน

1. บอก python ว่าเราจะเขียน function ชื่อไร => def function_name(): ขาดไม่ได้

2. กำหนดตัวแปรที่จะเป็น input input (ขาดไม่ได้)

3. ส่วนประมวลผล do_something with input to produce output (ขาดไม่ได้)

4. ส่วน output return output (ขาดไม่ได้)

#EXP FUNCTION

In [5]:
def print_name(name,surname,ID): #input มีกี่ตัวก็ได้
      st  = f' ชื่อ {name} นามสกุล {surname} ID {ID} '
      return  st
print('outside  function')

outside  function

#การเรียกใช้ Function

In [2]:
print_name(' ชณะชัย ', ' อิสระกูล ', ' 623021045-9 ')

' ชื่อ  ชณะชัย  นามสกุล  อิสระกูล  ID  623021045-9  '

In [6]:
output_string = print_name( ' ชณะชัย ', ' อิสระกูล ', ' 623021045-9 ' )
print(output_string)

 ชื่อ  ชณะชัย  นามสกุล  อิสระกูล  ID  623021045-9

#Function ไม่จำเป็นต้องมี output ก็ได้

In [9]:
def print_name2(name,ID,surname): 
      st  = f' ชื่อ {name} นามสกุล {surname} ID {ID} '
      print(st)

In [10]:
print_name2(' ชณะชัย ', ' อิสระกูล ', ' 623021045-9 ' )

 ชื่อ  ชณะชัย  นามสกุล  623021045-9  ID  อิสระกูล

In [12]:
op2 = print_name2(' ชณะชัย ', ' อิสระกูล ', ' 623021045-9 ' )

 ชื่อ  ชณะชัย  นามสกุล  623021045-9  ID  อิสระกูล

In [13]:
print(op2)

None

#Function ไม่จำเป็นต้องมี input ก็ได้

In [16]:
def Pi():
      return  3.14159265359

In [17]:
#คำนวณพื้นที่วงกลมที่ R = 3
Pi() *(1.5**2)

7.0685834705775

In [18]:
def print_my_name():
      print(' ชณะชัย ', ' อิสระกูล ', ' 623021045-9 ')

In [19]:
print_my_name()

 ชณะชัย   อิสระกูล   623021045-9

# input ของ function ใน python มีสองแบบ คือ input ที่จำเป็นต้องใส่ และ iinput ที่ไม่จำเป็นต้องใส่ขึ้นก่อน

### EXP INPUT ที่ไม่ต้องใส่

In [26]:
def print_2lines_default(name,surname,ID,grade='A'):
      st  = f'ชื่อ {name} นามสกุล {surname} ID {ID} '
      print (st)
      st2=f'เกรดวิชา  Multivariate >>> {grade}'
      print(st2)

In [27]:
print_2lines_default( ' ชณะชัย ', ' อิสระกูล ', ' 623021045-9 ' )

ชื่อ  ชณะชัย  นามสกุล  อิสระกูล  ID  623021045-9
เกรดวิชา  Multivariate >>> A

In [28]:
print_2lines_default( ' ชณะชัย ', ' อิสระกูล ', ' 623021045-9 ',' A ' )

ชื่อ  ชณะชัย  นามสกุล  อิสระกูล  ID  623021045-9
เกรดวิชา  Multivariate >>>  A

#เราสามารถเรียก function โดยใช้ชื่อตัวแปรช่วยได้

In [29]:
print_name2(name  =' ชณะชัย ', surname = ' อิสระกูล ', ID  = ' 623021045-9 ')

 ชื่อ  ชณะชัย  นามสกุล  อิสระกูล  ID  623021045-9

#HW3 ให้เขียน function คำนวณจำนวนวินาทีจ่กเวลาต่อไปนี้

'14-15-31'

'13-00-01'

'05-49-44'

'00-00-16'



และ print ให้สวยงาม